.bookPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    background-color: #ffffff;
    background-image: url('img/background-homepage.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: 'Catamaran', sans-serif;
}

.div {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0; 
}

.arrowDiv {
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: #ffffff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 1s;
}

.arrowDiv:hover {
    cursor: pointer;
    background-color: #cccccc;
}

.arrow {
    width: 90%;
}

.title {
    font-family: 'Patua One', cursive;
    color: #0077b6;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #0077b6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px 10px auto 10px;
}

.rowDiv {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.blueSpan {
    color: #0077b6;
    font-weight: bold;
}

.img {
    border-radius: 10px;
    margin-right: 50px;
}

.marginDiv {
    margin-left: 50px;
}

.description {
    width: 50%;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #0077b6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-right: 10px;
}

.descrDiv {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.informationDiv {
    width: 40%;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #0077b6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 10px;
    text-align: center;
}

.priceDiv {
    margin-top: 20px;
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #0077b6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 10px;
}

.link {
    padding: 5px;
    background-color: #0077b6;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
}


@media only screen and (max-width:540px) {
    .bookPage {
        background-image: url('img/background-homepage-mobile.jpg');
    }
    .title {
        text-align: center;
    }
    .arrowDiv {
        top: 20%;
    }
    .img {
        margin-left: auto;
        margin-right: auto;
    }
    .marginDiv {
        margin: 20px auto auto auto;
        text-align: center;
    }
    .rowDiv {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .description {
        margin-right: auto;
        margin-left: auto;
        width: 80%;
    }
    .informationDiv {
        margin-right: auto;
        margin-left: auto;
        width: 80%;
    }
    .priceDiv {
        width: 80%;
    }
}


@media only screen and (min-width:541px) and (max-width:1024px) { 
    .bookPage {
        background-image: url('img/background-homepage-tablet.jpg');
    }
}