.homepage {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Catamaran', sans-serif;
    background-color: white;
    background-image: url('img/background-homepage.jpg');
    background-position: center;
    background-size: cover;
}

.title {
    font-family: 'Patua One', cursive;
    font-size: 4.5em;
    padding-bottom: 0;
    margin-bottom: 0;
}

.subtitle {
    margin-top: 0;
    color: #0077b6;
    font-weight: bold;
}

.presentation {
    margin-bottom: 130px;
}

.button {
    background-color: #0077b6;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 30px 50px;  
    box-shadow: 3px 5px 10px #09434e;  
    font-size: 1.5em;
    font-weight: bold;
}

.button:hover {
    cursor: pointer;
    background-color: #0584c9;
}
.button:focus{outline: none;}

@media only screen and (min-width:321px) and (max-width:539px) {
    .homepage {
        background-image: url('img/background-homepage-mobile.jpg');
    }
}

@media only screen and (max-width:320px) {
    .homepage {
        background-image: url('img/background-homepage-mobile.jpg');
    }
    .title {
        font-size: 3.5em;
    }
    .presentation {
        margin-bottom: 10px;
    }
}

@media only screen and (min-width:540px) and (max-width:1024px) { 
    .homepage {
        background-image: url('img/background-homepage-tablet.jpg');
    }
}
